
.navbar {
    background-color: #2c3e50;
    margin-bottom: 0px;
    border: none;
    padding: 10px;
    font-weight: bold;
}
ul.list-inline{
    float: right;
    font-size: 20px;
    color: white;
    padding: 12px
}
p.navbar-text {
    font-size: 30px;
    color: white;
    margin: 0px;
    padding: 10px
}
.row {
    background-color: #1abc9c;
    padding-bottom: 60px;
    margin: 0;
}

img.img-responsive{
    margin-top: 90px;
    width: 200px;
    height: 200px;
}
h1, p, h2{
    text-align: center;
    font-size: 70px;
    color: white;
    font-weight:bold;
}
p{
    font-size: 20px;
    font-weight: normal;
}
.pinco{
    background-color: #ffffff;
    margin: 0 100px;
    padding-top: 60px;
    padding-bottom: 60px;
}
h2{
    color: #2c3e50;
    font-size: 40px;
    margin-bottom: 30px;

}

.pinco img.img-responsive{
    width: 400px;
    height: 250px;
    border-radius: 3%;
    object-fit: cover;
    padding-top: 0px;
    margin-bottom: 10px;
}
.about{
    background-color: #1abc9c;
    padding-top: 60px;
    padding-bottom: 60px;
}
.marc{
    border: 1px solid white;
    width: 230px;
    height: 60px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 11px;
    font-size: x-large;
    color:white;
    margin-top: 30px;
}
.insert{
    background-color: white;
    padding-top: 30px;
    padding-bottom:30px;
}
.insert p{
    color: black;
}
.insert p.fede{
    color: black;
    height: 130px;
}
.bruno{
border: none;
background-color: #1abc9c;
width: 100px;
height: 60px;
position: relative;
padding: 11px;
font-size: x-large;
color:white;
margin-top: 30px;
}
.footer{
    padding-top:80px;
    padding-bottom:80px;
    background-color: #2c3e50;
    padding-left: 150px;
    padding-right:150px;
}
h4{
    color: white;
    font-size: 24px;
}
.klark{
    float: left;
    font-size: 30px;
    color: white;
}
.fine{
    background-color: #1a252f;
    padding-top: 50px;
    padding-bottom:50px;
    color: white;
}
